.custom-shadow-right {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

.custom-shadow-left {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), -4px 0 6px -4px rgba(0, 0, 0, 0.19);
  }
  

@media (max-width: 768px) {
    .right_session {
        margin-left: 5%;
        margin-top: 10% !important;
    }
}

.left_session{
    margin-left: 15% !important;
}